<div id="container" style="width:100%; height:400px;"></div>
<script>
  var highcharts_module = {};
  highcharts_module.values = [];
  highcharts_module.labels = [];
  highcharts_module.chart_type = '{{ options.chart_type }}';
  {% for r in data %}
  highcharts_module.values.push({{ r.value }});
  highcharts_module.labels.push('{{ r.label }}');
  {% endfor %}
  highcharts_module.title = '{{ title }}';
  highcharts_module.yTitle ='{{ options.chart_value }}';
  highcharts_module.xTitle = '{{ options.chart_label_field }}';
</script>
